.userBanner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #4169e1;
  color: #fff;
}

.nav {
  padding: 8px;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}

.nav:hover {
  border-bottom: 3px solid #fff;
}

.nav svg {
  vertical-align: middle;
  margin-bottom: 8px;
}
